
body {
    background: url("../images/background/1597244020382.png") no-repeat top;
    background-size:100% auto;
    background-attachment: fixed;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.nav_hor {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.nav_hor li {
    float: right;
    display: block;
    color: #fff877;
    padding: 14px 16px;
}

.nav_hor li.head {
    float: left;
}

.nav_hor .logo {
    color: antiquewhite;
}

.nav_hor li.txt {
    text-align: center;
}

.nav_hor li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav_hor li a:hover {
    color: cornflowerblue;
}


ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
div {
    display: block;
}
element.style {
    height: auto;
}
.bangumi-info-blurbg-wrapper .bangumi-info-blurbg {
    position: absolute;
    background-size: cover;
    background-position: 50%;
    width: 110%;
    min-width: 1120px;
    height: 496px;
    top: 50%;
    left: 50%;
    margin: -260px -55%;
    z-index: 10;
    background-repeat: no-repeat;
    -webkit-filter: blur(40px);
    -moz-filter: blur(40px);
    -ms-filter: blur(40px);
    filter: blur(40px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10,MakeShadow=false);
}

.media-info-inner {
    padding: 44px 0 38px;
}
.media-info-inner .media-preview {
    float: left;
    width: 233px;
    height: 308px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 4px solid #fff;
    border-radius: 8px;
}
.media-info-r {
    margin-left: 250px;
    margin-right: 58px;

}
.media-info-title {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.media-info-title-t {
    display: inline-block;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.media-tags {
    opacity: 0;
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

.media-tag {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 20px;
    padding: 0 4px;
    line-height: 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
}

.common-lazy-img {
    background: url(//s1.hdslb.com/bfs/static/review/media/asserts/img_loading.png) 50% no-repeat;
    background-size: 50px;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.media-info-inner .media-preview img {
    width: 225px;
    height: 300px;
    display: block;
    border-radius: 4px;
}

.media-info-datas {
    height: 60px;
}

.media-info-count {
    font-size: 12px;
    color: #fff;
    padding-top: 30px;
    line-height: 1;
    float: left;
}

.media-info-count .media-info-count-item {
    display: inline-block;
    width: 96px;
    border-right: 1px solid #fff;
    text-indent: 14px;
    height: 34px;
}

.media-info-count .media-info-count-item.media-info-count-item-play {
    width: 76px;
    text-indent: 0;
}

.media-info-count .media-info-count-item {
    display: inline-block;
    width: 96px;
    border-right: 1px solid #fff;
    text-indent: 14px;
    height: 34px;
}

.media-info-count .media-info-count-item.media-info-count-item-review {
    border-right-color: rgba(0,0,0,0);
    width: 76px;
}

.media-info-inner .media-info-r .media-info-time {
    margin-top: 28px;
    height: 17px;
    line-height: 17px;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}

.media-info-time span+span {
    margin-left: 20px;
}

.media-info-inner .media-info-r .media-info-intro {
    margin-top: 11px;
    font-size: 15px;
    color: #fff;
    line-height: 20px;
    min-height: 87px;
}

.media-info-btns {
    float: left;
    margin-top: 32px;
}

.media-info-btns .bangumi-btn {
    position: relative;
    float: left;
    margin-right: 20px;
}

.media-info-btns .bangumi-btn .btn-follow.followed {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    background-color: hsla(0,0%,100%,.12);
    border: 4px solid hsla(0,0%,100%,.5);
    text-shadow: 0 0 4px rgb(0 0 0 / 60%);
}

.media-info-btns .bangumi-btn .btn-follow {
    width: 128px;
    height: 48px;
    line-height: 48px;
    background-color: #f36392;
    border-radius: 8px;
    text-align: center;
    color: #000;
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.media-info-btns .bangumi-btn .bangumi-options {
    position: absolute;
    right: 0;
    width: 116px;
    bottom: -160px;
    font-size: 14px;
    height: 160px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.media-info-btns .bangumi-btn .bangumi-options .opt-list {
    position: absolute;
    right: 0;
    bottom: 0;
    list-style: none;
    padding: 6px 0;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.media-info-btns .bangumi-btn .bangumi-options .opt-list li {
    width: auto;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    color: #212121;
}

.media-info-btns .bangumi-btn .bangumi-options .opt-list li.disabled {
    color: #fff;
    background-color: rgba(0,0,0,0);
    cursor: not-allowed;
}

.clearfix:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
}

.media-info-score-wrp {
    float: right;
    padding-top: 26px;
}
.media-info-score {
    white-space: nowrap;
}
.media-info-star-wrapper {
    display: inline-block;
    vertical-align: top;
    height: 36px;
}
 .media-info-score-content {
    margin: 0 7px 0 0;
    text-align: right;
    color: #ffa726;
    font-size: 36px;
    line-height: 36px;
}

 .media-info-review-times {
    color: #fff;
    font-size: 12px;
    line-height: 1;
    text-align: left;
}
.to-review-btn {
    display: none;
    color: #fff;
    text-align: left;
    cursor: pointer;
    font-size: 12px;
    line-height: 1;
}

.media-info-card {
    position: relative;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    width: 350px;
    min-height: 274px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 7%);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 7%);
    float:left;
}
.mic-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 6px;
    font-weight: 700;
}
