body {
    overflow: hidden;
    background: url("../images/background/1597244020382.png") no-repeat top;
    background-size:100% auto;
    background-attachment: fixed;
}
#main-page {
    /* display: none;
    opacity: 0; */
    background-size:cover;
    background: rgba(0, 0, 0, .6);
}
.page-head {
    /* display: none; */
    height: 65px;
    background: rgba(0, 0, 0, .2);
}
#header_list li {
    float: left;
    padding: 0 40px;
    line-height: 65px;
    font-size: 16px;
    /* border: 1px solid red; */
}
#header_list li>a {
    display: inline-block;
    max-width: 60px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#user-menu{
    position: relative;
}
#user-menu .user-info{
    position: absolute;
    top: 85px;
    left:-60px;
    display: none;
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgb(195 230 210);
}
.user-info p{
    font-size: 18px;
    text-align: center;
}
.user-info .logout{
    display: block;
    width: 60%;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #6cf;
    text-align: center;
    box-shadow: 6px 6px 7px rgb(36 37 38 / 10%);
    border-radius: 4px;
}
.arrow-up{
    position: absolute;
    top: 71px;
    left: 46px;
    display: none;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid #fff;
}
.aside-nav {
    position: fixed;
    top: 30%;
    left: 90%;
    padding: 20px 0px;
    width: 90px;
    background-color: #79bce4;
}
.aside-nav ul {
    margin: auto;
    width: 70%;
    text-align: center;
}
.aside-nav ul li{
    float: left;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}
.aside-nav ul li:hover,
.aside-nav ul .aside-li-on{
    color: #79bce4;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 6px 6px 7px rgb(36 37 38 / 10%);
}
#bangumi {
    /* display: none; */
    margin-top: 100px;
    overflow: hidden;
    height: 2000px;
    background-color: #fff;
    box-shadow: 0 6px 15px rgb(195 230 210);
}
.storey-title {
    margin: 20px;
    margin-bottom: 11px;
    height: 40px;
    color: #7abde5;
    /* border: 1px solid red; */
}
.storey-title h2 {
    float: left;
    margin-left: 35px;
    line-height: 45px;
    font-size: 26px;
}
.storey-title ul {
    float: right;
    margin-right: 35px;
    line-height: 51px;
    cursor: default;
}
.storey-title ul li {
    float: left;
    padding: 0 20px;
    font-size: 16px;
    cursor: pointer;
}
.list_on {
    color: #fff;
    /* box-shadow: 0 -6px 15px rgb(36 37 38 / 10%); */
    border-radius: 15px 15px 0 0;
    background-color: #79bce4;
}
.list-box {
    margin: 40px;
    margin-top: 0;
    padding: 20px;
    max-height: 60vh;
    /* border-top: 1px solid #00a1d6; */
    background-color: #79bce4;
    border-radius: 10px;
    overflow: auto;
}

.list-box>ul>li {
    position: relative;
    display: block;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 260px;
    /* height: 70px; */
    background-color: #fff;
    border-radius: 15px;
    transition: all .3s;
}
.list-box>ul>li:hover{
    box-shadow: 9px 9px 9px rgb(36 37 38 / 10%);
}
.list-box>ul>li .detail-info{
    position: absolute;
    top: 3px;
    right: 10px;
    cursor: pointer;
}
.list-box .pic {
    float: left;
    width: 70px;
    height: 70px;
}
.list-box .pic img{
    width: 100%;
    height: 100%;
}
.list-box .text {
    float: left;
    width: 140px;
    margin-left: 10px;
}
.text-bottom .episode {
    color: #999;
}
.text .bangumi-title{
    display: block;
    width: 140px;
    height: 37px;
    margin-top: 2px;
    margin-bottom: 12px;
    color: #27719d;
}
.text-bottom a{
    float: left;
}
.text-bottom span{
    position: relative;
    float: right;
    margin-right: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.text-bottom .chevron-right ul{
    position: absolute;
    padding: 5px 0;
    width: 50px;
    bottom: 0;
    right: -50px;
    background-color: #fefefe;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    border-radius: 4px;
}
.text-bottom .chevron-right ul li{
    float: left;
    margin: 0 8%;
    width: 70%;
    padding: 5px;
    transition: all, .3s;
}
.text-bottom .chevron-right ul li:hover a{
    color: #79bce4;
    border-radius: 2px;
}

#detail-background{
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    background-attachment: fixed;
}

#detail-box{
    /* display: none; */
    margin: 10vh 20vw;
    max-height: 85vh;
    width: 60vw;
    padding: 5vh 5vw;
    overflow: auto;
    background-color: #fff;
    box-shadow: 0 6px 15px rgb(195 230 210);
    border-radius: 10px;
}
#detail-box .title{
    margin: 10px 0;
}
#detail-box img{
    float: right;
}
#detail-box h3{
    margin: 10px 0;
}
#detail-box ul li{
    margin: 5px 0;
}
#detail-box .btn{
    display: inline-block;
    margin-left: calc(24vw - 75px);
    background-color: #419664;
}

#side-menu {
    background-color: lightgrey;
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 250px;
    transition: transform 200ms ease-in;
    transform: translateX(calc(-24px + 100%));
    opacity: 0.5
}

#side-menu:hover {
    transform: translateX(0px);
}

#side-menu-inner {
    display: block;
    height: 100%;
    width: calc(-24px + 100%);
    transform: translateX(24px);
    /* background-color: red; */
    opacity: 0.5
}