<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>雪柚 yukiyu - {{ way }}</title>

    <!-- <link rel="stylesheet" href="../static/css/base.css">
    
    <link rel="stylesheet" href="../static/css/common.css">
    
    <link rel="stylesheet" href="../static/css/login.css">  -->

    <!-- 初始化样式文件 -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <!-- 公共样式文件 -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
    <!-- login样式文件 -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
</head>

<body>
    <div id="main-band">
        <div class="boder-box">
            <img src="../static/images/background/login_pic.jpg" class="login-img" alt="panel-wide login-img">
            <div id="login">
                <div class="title">yukiyu {{ way }}</div>
                <form action="{{target}}" method="POST" name="login_info">
                    <ul>
                        <li>
                            <label for="username">用户名</label>
                            <input type="text" id="username" placeholder="4~20 位数字字母下划线" maxlength="20" name="username">
                        </li>
                        <li>
                            <label for="password">密 码</label>
                            <input type="password" id="password" placeholder="请输入密码" name="password">
                        </li>
                    </ul>
                    <!-- 获取闪现消息 -->

                    <div class="error-msg">
                        {% for message in get_flashed_messages() %}
                            {{ message }}
                        {% endfor %}
                    </div>
                    <input type="submit" class="btn" id="btn-green" value="{{ way }}">
                    <a href="/yukiyu" class="btn" id="btn-back">返回</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>